body {
    background-color: #fffe0;
    color: #ffffff;
    font-family: courier-new;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.gallery img, .gallery video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #e0ffff;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #f0ffff;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.retro-text-box {
  font-family: 'Courier New', monospace; /* Classic retro web font */
  background-color: #000000;
  color: #03a062;
  border: 3px double #00FF00;
  padding: 15px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 5px 5px 0px #005500;
  font-weight: bold;
}

.retro-text-box h3 {
  margin-top: 0;
  border-bottom: 1px dashed #00FF00;
  padding-bottom: 5px;
}

body {
  background-image: url('background.png');
}

/* git add . */
/* git commit -m "..." */
/* git push origin main */